<!DOCTYPE html>
<html>
<head>
	<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>
	<br>
	<center>
		<br>
	<div>
 <a href="/net1" class="button">Practical Assignment 0</a>
 </div>
 <br>
 <br>
 <div>
 <a href="/net3" class="button">Practical Assignment 1</a>
</div>
<br>
<h1>This website is made by- <h2 style ="color: blue">Prateek Chaturvedi(18085085)</h2> Under Network Security Practical assignment</h1>
</center>
</body>
</html>
